{% extends "base.html" %}
{% from "_macros.html" import button %}
{% block content %}
<p style="margin:0 0 16px;">Hello,</p>
<p style="margin:0 0 16px;">We received a request to reset the password for your PickASparky account.</p>
{{ button(link, "Choose a new password") }}
<p style="margin:0 0 16px;">This link is valid for 1 hour and can be used once. If the button does not work, copy this address into your browser:</p>
<p style="margin:0 0 16px;word-break:break-all;"><a href="{{ link }}" style="color:#0a9b53;">{{ link }}</a></p>
<p style="margin:0;">If you did not ask for this, you can ignore this email and your password will stay the same.</p>
{% endblock %}
